.about_gov_body{
    background-color: #001a4b;
    position: relative;
    top:-5px;
}

.about_gov_body_sec1{
    width: 80%;
    margin: auto;
    
    padding-block: 3rem;
}
.about_gov_content1{
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.gov_container_left{
    background-color: #f58220;
    color: #fff;
}
.gov_container_right{
    background-color: #fff;
    color: #000;
}
.img_gov_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img_gov_section img{
   width: 50%;
}
.img_gov_content{
    margin: auto;
}
.img_gov_content h4,
.img_gov_content p{
    margin: 0;
    padding: 0;
}

.left_content{
    padding: 2.5rem;
    text-align: justify;
    line-height: 1.3;
}

.gov_table{
    color: #fff;
    margin-top: 3rem;

}
.gov_table table{
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    border-spacing: 0;
}
.gov_table table th{
        
    border-block: 1px solid #fff;
    padding:1rem ;
}
.gov_table table td{
 border-bottom: 1px solid #fff;
 padding:1rem;
}

.gov_table tr:last-child{
    border-bottom: non;
}
.gov_head1{
    width: 20%;
}
.gov_header{
    font-size: 3rem;
}
.gov_head2{
    width: 45%;
}
.gov_head3{
    width: 35%;
}
.gov_table table p{
    margin: 0;
    padding: 0;
    padding-top: 0.3rem;
}

.iqac_button button{
    width: 100%;
    font-size: 3rem;
    background-color: #001a4b;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 700;
    margin-top: 6rem;
    padding-block: 1.8rem;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}
.about_vision_content{
    width:85%;
    margin: auto;
    background-color: #001a4b;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: #fff;
    padding-block: 1.5rem;
    margin-block: 3rem;
}

.vision_box{
    border-right: 1px solid #fff;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vision_box img{
    width: 4rem;
}
.vision_img{
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.vision_img p{
    line-height: 1.3;
}
.about_ndc_main_content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.flex_content{
    display: flex;
    align-items: center;
    /* padding-inline: 1rem; */
}
.flex_content_box{
    background-color: #f58220;
    position: relative;
    color: #fff;
    padding: 1rem;
    border-radius: 0.2rem;
    box-shadow: 5px 8px 21px 3px rgba(245, 130, 32, 0.72);

    /* flex-basis:100%; */
    /* text-align: justify; */
}
.top_img,.bottom_img{
    width: 50%;
    margin: auto;
    position: relative;
}
.middle_img{
    position: relative;
    left: 1rem;
    /* width: 100%; */
}

.top_img{
    top: 2rem;
}
.bottom_img{
    bottom: 2rem;
    z-index: -1;
}

.right_side_content .middle_img{
    left: -1rem;
    position: relative;
    z-index: -1
}
.right_content_box{
    background-color: #001a4b;
  box-shadow: -9px 10px 21px 5px rgba(0, 26, 75, 0.71);
}

.about .home button{
    background-color: #f58220;
}